* {
    margin: 0;
    font-family: 'Space Mono', monospace;
}

/*header*/
header {
    background-color: #4338CA;
    height: 12vh;
    display: flex;
    flex-direction: row;
}

.shadow {
    position: relative;
    box-shadow: 15px 1px 20px 2px #949494;
}


/*logo*/
.logo {
    background-color: #4338CA;
    height: 12vh;
}

.logoImg {
    height: 13vh;
    width: auto;
}

/*nav bar*/
nav {
    background-color: #4338CA;
    height: 12vh;
    align-items: center;
    font-size: 18px;
}

.ulnav {
    list-style-type: none;
    margin: 3vh 45vh;
    padding: 0;
    display: flex;
    justify-content: space-around;

    font-weight: lighter;

}

.linav {
    margin: 0.2em 0.8em;
    padding: 0.5em;
}

/*login in the header */
.loginHeader {
    background-color: #4338CA;
    height: 10vh;
}

.inloggenButton {
    display: inline-block;
    background-color: #283d54;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 25px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.inloggenButton:hover {
    color: #dcdcdc;
    transition: 0.2s ease-out, color 0.2s ease-out;
}

/*links styling*/

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

a:hover {
    color: #d7d7d7;
}

/*footer*/

footer {
    background-color: #4338CA;
    color: white;
    margin: 0cm;
    padding: 2em 10em;
    height: auto;
    width: auto;
}

/*footer nav*/

.ulfooter {
    list-style-type: none;
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.lifooter {
    list-style-type: none;
    margin: 3px 0;
    padding: 2px;
    font-size: 14px;
    position: relative;
}

/*footer details */

#logofooter {
    height: 100px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footerdetails {
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.footerdetails h1 {
    font-size: 22px;
    margin: 0.5em;

}

.ulsocials {
    list-style-type: none;
    background-color: #4338CA;
    height: auto;
    width: auto;
    margin: 20px 0;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lisocials {
    margin: 0.5em;
    padding: 0.2em;
}