*{
    margin: 0;

}

/*header*/
header{
background-color: #4338CA;
}

/*logo*/
.logo{
    background-color: #4338CA;

}

/*nav bar*/
nav{
    background-color: #4338CA;

}

/*login in the header */
.loginHeader{
    background-color: #4338CA;

}

/* Hompage */
