* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

/*homepage*/

.homepageMain {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}

/*header*/
header {
    background-color: #4338CA;
    height: 12vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.shadow {
    position: relative;
    box-shadow: 15px 1px 20px 2px #949494;
}


/*logo*/
.logo {
    background-color: #4338CA;
    height: 12vh;
}

.logoImg {
    max-height: 100%;
    width: auto;
}

/*nav bar*/
nav {
    background-color: #4338CA;
    height: 12vh;
    width: auto;
    align-items: center;
    font-size: 18px;
}

.ulnav {
    list-style-type: none;
    margin: 3vh 17vw;
    padding: 0;
    display: flex;
    justify-content: space-around;

    font-weight: lighter;

}

.linav {
    margin: 0.2em 0.8em;
    padding: 0.5em;
}

/*login in the header */
.loginHeader {
    background-color: #4338CA;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.signInBtn {
    display: inline-block;
    background-color: #283d54;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 17px;
    padding: 15px 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.signInBtn:hover {
    color: #dcdcdc;
    transition: 0.2s ease-out, color 0.2s ease-out;
}



/*links styling*/

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

a:hover {
    color: #d7d7d7;
}

/*registeration / logging in */

.regislink {
    font-size: 12px;
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

.regislink:hover {
    color: rgb(227, 193, 0);
}

.regismain {
    width: 100%;
    padding: 100px;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}

.regiscontainer {
    width: 80%;
    margin: 2% 0 8% 0;
    border-radius: 20px;
}

.regisform {
    background-color: #283d54;
    padding: 20px;
    border-radius: 20px;
    margin-top: auto;
    margin-right: auto;
}

.inloggensul {
    list-style: none;
    margin: 5px;
}


.regisul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.regisli {
    margin: 10px;
}

input {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    margin-top: 6px;
    font-size: 1.1em;
}

input[type='radio'] {
    size: 100px;
    vertical-align: middle;
}

.menuRole {
    appearance: none;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    margin-top: 6px;
    margin-right: 9.3vw;
    font-size: 1.1em;
}

label {
    font-size: 0.6em;
    color: white;
    padding-left: 16px;
    text-transform: uppercase;
}

input:focus {
    background-color: white;
    color: black;
}

button {
    appearance: none;
    border: 1px solid transparent;
    padding: 10px 16px;
    border-radius: 20px;
    margin-top: 4vh;
    background-color: #949494;
}

button:hover {
    border: 1px solid black;
    cursor: pointer;
}

/*error*/
.error {
    background-color: #ce6565;
    color: white;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}


/* dashboard */

/*dashheader*/

.dashheader {
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: auto;
    font-size: 50px;
}

/*dashboard*/

.dashbody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url(hompage.jpg);
    background-position: center;
    background-size: cover;
    height: 41em;
    width: auto;
    text-align: center;
    padding: 16em;
}

/* dash buttons*/

.dashButton {
    display: inline-block;
    background-color: rgb(227, 193, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.dashButton:hover {
    background-color: #283d54;
    color: white;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
/*footer*/

footer {
    background-color: #4338CA;
    color: white;
    margin: 0cm;
    padding: 2em 10em;
    height: auto;
    width: auto;
}

/*footer nav*/

.ulfooter {
    list-style-type: none;
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.lifooter {
    list-style-type: none;
    margin: 3px 0;
    padding: 2px;
    font-size: 14px;
    position: relative;
}

/*footer details */

#logofooter {
    height: 100px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footerdetails {
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.footerdetails h1 {
    font-size: 18px;
    margin: 0.5em;

}

.ulsocials {
    list-style-type: none;
    background-color: #4338CA;
    height: auto;
    width: auto;
    margin: 3vh 22vw;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lisocials {

    padding: 0.2em;
}